@media (max-width: 675px) {
  .header-menu {
    position: absolute;
    width: 100%;
    top: 61px;
    z-index: 1;
    background: #000;
    left: -100%;
    display: block;
  }
  
  .header-menu.isShow {
    display: block;
    left: 0px;

  }


  .header-icon {
    width: 100%;
    text-align: right;
  }


  .header-icon .header-btnMenu {
    display: inline-block;
    cursor: pointer;
  }
}


@media (max-width: 510px) {
  .banner .banner-item {
    font-size: 15px;
    margin:5px 8px 0 8px;
    padding: 5px;

  }
  .banner button.banner-item {
    padding: 4px;
  }
  .banner img {
    height: 250px;
  }
  
}

@media (max-width: 320px) {

}
@media (max-width: 650px) {
  .movies-img .comment {
      font-size: 8px;
    }
    .movies-img .view {
      font-size: 8px;
    }
    .movies-list .movies-info {
      width: 45%;
    }
}